## URL de l'API utilisée par le frontend
# En dev: correspond à EXPRESS_PORT côté API
VITE_API_URL=http://localhost:4000/api

## URL du service Realtime (WebSocket/WebRTC)
# Laissez par défaut si le service écoute sur 3001
VITE_REALTIME_URL=http://localhost:3001